body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Droid Sans", "Helvetica Neue",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", sans-serif;

  overflow-x: hidden;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 6px;
  margin-bottom: 6px;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

input.disabled {
  background-color: lightgray;
}

main table thead tr th {
  background-color: ghostwhite;
}

.text-right {
  text-align: right;
}

.smaller {
  font-size: 0.6rem;
  padding-top: 0.4em;
}

div.topic-panel {
  margin-left: 12px;
  width: 73.2%;
}

header nav span#status {
  color: darkgray;
  display: inline-block;
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20em;
  height: 1.5em;
  padding: 0;
}

button.transparent {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
  cursor: pointer;
}

button.circle {
  background-color: white;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
}

button.balloon {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
}

button.inactive {
  opacity: 0.3;
}

img.icon {
  width: 1em;
  height: 1em;
}

select option {
  font-family: D2Coding, monospace, "Courier New";
}

textarea.note {
  height: 200px;
}

table#papers th, table#papers td {
  padding: 0.2em !important;
  vertical-align: middle;
}

div.toolbar {
  vertical-align: middle;
}

.toolbar-border {
  border: 1px solid lightgray;
  border-radius: 0.5em;
}

iframe#pdf {
  width: 100%;
  border: 1px solid lightgray;
  height: calc(100vh - 47px);
}

iframe#pdf.full-note {
  width: 100%;
  height: calc(100vh - 136.5px);
  border: 1px solid lightgray;
}

div.CodeMirror {
  height: calc(100vh - 180px);

}

textarea.full-note {
  height: calc(100vh - 131px);
  overflow: scroll;
}

div.markdown-container {
  background: lightgray;
  height: calc(100vh - 133px);
}

div.overflow-scroll {
  overflow: scroll;
}

select.inline {
  display: inline-block;
  width: auto;
}

div#pdf-panel {
  flex: 1 1 60%;
  overflow-x: hidden;
}

div#note-panel {
  flex: 1 1 40%;
  overflow-x: hidden;
}

div#markdown-panel {
  flex: 1 1 40%;
  overflow-x: hidden;
}

/**************
Markdown
**************/

div#markdown {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 3em !important;
  max-width: 8.27in;
  min-height: 100%;
}

div#markdown h1 {
  font-size: 2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

div#markdown h2 {
  font-size: 1.6em;
}

div#markdown h3 {
  font-size: 1.4em;
}

div#markdown h4 {
  font-size: 1.2em;
}

div#markdown h5 {
  font-size: 1.1em;
}

div#markdown h6 {
  font-size: 1em;
}

div#markdown h1,
div#markdown h2,
div#markdown h3,
div#markdown h4,
div#markdown h5,
div#markdown h6 {
  color: SteelBlue;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}

div#markdown h1:first-child,
div#markdown h2:first-child,
div#markdown h3:first-child,
div#markdown h4:first-child,
div#markdown h5:first-child,
div#markdown h6:first-child {
  margin-top: 0;
}

div#markdown ol, div#markdown ul {
  padding-left: 1.5em;
}

div#markdown a {
  color: dodgerblue;
}

div#markdown i, div#markdown em {
  color: orangered;
  padding-right: 0.1em;
}

div#markdown hr {
  border-color: SteelBlue;
  border-width: 2px;
}

div#markdown table {
  border-bottom: 2px solid gray;
  margin: 1em auto 1em auto;
}

div#markdown table th {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

div#markdown table td {
  border-bottom: 1px solid gray;
}

div#markdown table th,
div#markdown table td {
  padding: 0.3em;
}

div#markdown div.code {
  background-color: ghostwhite;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  font-family: D2Coding, monospace, "Courier New", Courier;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  white-space: pre;
}

div#home-page figcaption,
div#markdown figcaption {
  text-align: center;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

/****************
 * Message
 ***************/

div.message {
  position: relative;
  background-color: cornsilk;
  margin: 1em;
  padding: 0.5em;
  border: 1px solid gold;
  border-radius: 5px;
}

button.message {
  color: crimson;
  position: absolute;
  top: 0.4em;
  right: 1em;
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.container-1600px {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.container-1800px {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

w-100px {
  width: 100px;
}

w-120px {
  width: 120px;
}

w-140px {
  width: 140px;
}

w-160px {
  width: 160px;
}

think {
  color: teal;
  font-style: italic;
}

/**************
Markdown Editor
**************/

main div#note-panel div.CodeMirror span.cm-header.cm-header-1 {
  line-height: 1.3em;
  font-size: 2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

span.cm-header.cm-header-1,
span.cm-header.cm-header-2,
span.cm-header.cm-header-3,
span.cm-header.cm-header-4,
span.cm-header.cm-header-5,
span.cm-header.cm-header-6 {
  color: SteelBlue;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}

span.cm-em {
  color: orangered;
}

main div#note-panel div.CodeMirror span.cm-link {
  color: dodgerblue;
  text-decoration: none;
}