body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Droid Sans", "Helvetica Neue",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", sans-serif;

  overflow-x: hidden;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 6px;
  margin-bottom: 6px;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

main table thead tr th {
  background-color: ghostwhite;
}

.text-right {
  text-align: right;
}

.smaller {
  font-size: 0.6rem;
  padding-top: 0.4em;
}

button.transparent {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
  cursor: pointer;
}

button.circle {
  background-color: white;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
}

button.balloon {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
}

button.inactive {
  opacity: 0.3;
}

img.icon {
  width: 1em;
  height: 1em;
}

textarea.note {
  height: 200px;
}

iframe#pdf {
  width: 100%;
  height: calc(100vh - 70px);
  border: 1px solid lightgray;
}

table#papers th, table#papers td {
  padding: 0.2em !important;
  vertical-align: middle;
}

div.toolbar {
  vertical-align: middle;
}

.toolbar-border {
  border: 1px solid lightgray;
  border-radius: 0.5em;
}

textarea.full-note, div.markdown {
  max-width: 1200px;
  height: calc(100vh - 160px);
  border: 1px solid lightgray;
  overflow: scroll;
}

div.markdown h1 {
  font-size: 2em;
  font-weight: 700;
}

div.markdown h2 {
  font-weight: 700;
}

div.message {
  position: relative;
  background-color: cornsilk;
  margin: 1em;
  padding: 0.5em;
  border: 1px solid gold;
  border-radius: 5px;
}

button.message {
  color: crimson;
  position: absolute;
  top: 0.4em;
  right: 1em;
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.container-1600px {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.container-1800px {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

w-100px {
  width: 100px;
}

w-120px {
  width: 120px;
}

w-140px {
  width: 140px;
}

w-160px {
  width: 160px;
}
