{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="justify-content-center">
  <div class="container">
    {% if user.is_authenticated %}
    {% if messages %}
    <div class="row">
      {% for message in messages %}
      <div class="message">
        {{ message }}
        <button type="button" onclick="this.parentElement.style.display='none'" class="message">✖</button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}
    <div class="row">
      <form method="POST" action="{% url 'paper_update' paper.id %}">
        {% csrf_token %}
        <div class="row my-2">
          <div class="col-2 text-end mt-2">
            <label for="title" class="form-label fw-bold mt-1">Title</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required
              value="{{ paper.title }}">
          </div>
          <div class="col-2 text-end mt-2">
            <label for="author" class="form-label fw-bold mt-1">Author</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="author" name="author" placeholder="Author" required
              value="{{ paper.author }}">
          </div>
          <div class="col-2 text-end mt-2">
            <label for="author" class="form-label">Publisher</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="publisher" name="publisher" placeholder="Publisher"
              value="{{ paper.publisher }}">
          </div>
          <div class="col-2 text-end mt-2">
            <label for="publish_date" class="form-label">Publish Date</label>
          </div>
          <div class="col-9 mt-1">
            <input type="date" class="form-control" id="publish_date" name="publish_date" placeholder="Publish Date"
              value="{{ paper.publish_date|date:'Y-m-d'}}">
          </div>
          <div class="col-2 text-end mt-2">
            <label for="author" class="form-label">DOI</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="doi" name="doi" placeholder="DOI" value="{{ paper.doi }}">
          </div>
          <div class="col-2 text-end mt-2">
            <label for="author" class="form-label fw-bold mt-1">URL</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="url" name="url" placeholder="URL" required
              value="{{ paper.url }}">
          </div>
          <div class="col-1 pt-2">
            <a href="{{ paper.url }}">
              <img src="{% static 'images/link.png' %}" alt="Link" class="icon">
            </a>
          </div>
          <div class="col-2 text-end mt-2">
            <label for="author" class="form-label fw-bold mt-1">PDF URL</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="pdf_url" name="pdf_url" placeholder="PDF URL" required
              value="{{ paper.pdf_url }}">
          </div>
          <div class="col-1 pt-2">
            <a href="{{ paper.pdf_url }}">
              <img src="{% static 'images/pdf.png' %}" class="icon" alt="PDF">
            </a>
          </div>
          <div class="col-2 text-end mt-2">
            <label for="author" class="form-label">PDF Name</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="pdf_name" name="pdf_name" placeholder="PDF Name"
              value="{{ paper.pdf_name }}">
          </div>
          <div class="col-2 text-end mt-2">
            <label for="author" class="form-label">Citations</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="citations" name="citations" placeholder="Citations"
              value="{{ paper.citations|default_if_none:'' }}">
          </div>
          <div class="col-1 pt-2">
            <a href="https://scholar.google.com/scholar?q={{paper.title|safe}},+{{paper.author|safe}}" target="_blank"
              rel="noopener">
              <img src="{% static 'images/google_scholar.png' %}" alt="Google Scholar" class="icon">
            </a>
            <a href="https://www.semanticscholar.org/search?q={{paper.title|safe}},+{{paper.author|safe}}"
              target="_blank" rel="noopener">
              <img src="{% static 'images/semantic_scholar.png' %}" alt="Semantic Scholar" class="icon">
            </a>
          </div>
          <div class="col-2 text-end mt-2">
            <label for="author" class="form-label">Tags</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control disabled" id="tags" name="tags" placeholder="Tags"
              value="{{ paper.tags }}" readonly>
          </div>
          <div class="col-2 text-end mt-2">
            <label for="abstract" class="form-label">Abstract</label>
          </div>
          <div class="col-9 mt-1">
            <textarea type="abstract" rows="5" class="form-control" id="abstract" name="abstract"
              placeholder="Abstract">{{ paper.abstract|safe }}</textarea>
          </div>
          <div class="col-1 pt-2">
            <a href="https://www.bing.com/translator?from=en&to=ko&text={{paper.abstract|safe}}" target="_blank"
              rel="noopener">
              <img src="{% static 'images/korean.png' %}" alt="Translate to Korean" class="icon">
            </a>
          </div>
          <div class="col-2 text-end mt-2">
            <label for="author" class="form-label">Note</label>
          </div>
          <div class="col-9 mt-1">
            <textarea type="text" rows="5" class="form-control" id="note" name="note"
              placeholder="Note">{{ paper.note|safe }}</textarea>
          </div>
          <div class="col-1 pt-2">
            <a href="{% url 'paper_editor' paper.id %}" target="_blank">
              <img src="{% static 'images/editor.png' %}" alt="Note" class="icon">
            </a>
            <a href="{% url 'paper_note' paper.id %}" target="_blank">
              <img src="{% static 'images/note.png' %}" alt="Note" class="icon">
            </a>
            <a href="{% url 'paper_presentation' paper.id %}" target="_blank">
              <img src="{% static 'images/presentation.png' %}" alt="Note" class="icon">
            </a>
          </div>
          <div class="col-2 text-end mt-2">
            <label for="topic" class="form-label">Topic</label>
          </div>
          <div id="paper-topic-panel" class="col-9 mt-1 py-1 border rounded">
            {% for topic in topics %}
            <div>
              <input class="form-check-input" type="checkbox" id="topic-{{ topic.id }}" name="topics"
                value="{{ topic.id }}" title="{{ topic.title }}" {% if topic.id in topic_ids %} checked {% endif %}>
              <label class="form-check-label" for="topic-{{ topic.id }}">
                {{ topic.title }}
              </label>
            </div>
            {% endfor %}
          </div>
          <div class="col-12 mt-3 text-center">
            <button {% if not user.is_authenticated %} disabled {% endif %} type="submit"
              class="btn btn-primary mx-2">Update Paper</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}