{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/simplemde.min.css' %}">
<script type="text/javascript" charset="utf8" src="{% static 'js/simplemde.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'js/split.min.js' %}"></script>
<script src="{% static 'js/purify-3.2.4.min.js' %}"></script>
<div id="editor-page" class="justify-content-center">
  <div class="container">
    {% if user.is_authenticated %}
    {% if messages %}
    <div class="row">
      {% for message in messages %}
      <div class="message">
        {{ message }}
        <button type="button" onclick="this.parentElement.style.display='none'" class="message">✖</button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}
  </div>
  <div id="split-container" class="d-flex justify-content-center split">
    <div class="mx-2" id="note-pdf-panel">
      <div></div>
      <iframe id="note-pdf-preview" title="PDF Preview" class="border rounded"></iframe>
    </div>
    <div class="mx-2" id="note-editor-panel">
      <textarea type="text" class="container-fluid border rounded" id="note" name="note"
        placeholder="Note">{{ paper.note|safe }}</textarea>
    </div>
    <div class="mx-2" id="note-markdown-panel">
      <div id="note-markdown-container" class="border rounded">
        <div id="note-markdown-preview" class="p-2 ms-0 me-auto"></div>
      </div>
    </div>
  </div>
  <div class="row d-print-none">
    <button id="show-toolbar-button" class="btn border-0 p-0 me-2 d-none"
      onclick="onShowToolbar()">&bigtriangleup;</button>
    <div id="bottom-toolbar"
      class="d-flex w-auto mx-auto toolbar toolbar-border px-3 py-2 shadow-sm bg-light align-items-center">
      <button id="hide-toolbar-button" class="btn border-0 me-2" onclick="onHideToolbar()">&bigtriangledown;</button>
      <span class="vr mx-2"></span>
      <label class="fw-bold me-2">View Mode: </label>
      <input type="checkbox" id="check-pdf" name="view-mode" value="pdf" title="Toggle PDF" checked
        onchange="onViewMode('pdf')">
      <label for="check-pdf" class="mx-1">PDF</label>
      <input type="checkbox" id="check-note" name="view-mode" value="note" title="Toggle Note" checked
        onchange="onViewMode('note')">
      <label for="check-note" class="mx-1">Note</label>
      <input type="checkbox" id="check-markdown" name="view-mode" value="markdown" title="Toggle Markdown" checked
        onchange="onViewMode('markdown')">
      <label for="check-markdown" class="mx-1">Markdown</label>
      <span class="vr mx-2"></span>
      <button {% if not user.is_authenticated %} disabled {% endif %} type="button" class="btn btn-success mx-2"
        onclick='onImportPDF("{{ paper.pdf_url }}")'>Extract text from PDF</button>
      <span class="vr mx-2"></span>
      <button {% if not user.is_authenticated %} disabled {% endif %} type="button" class="btn btn-warning mx-2"
        onclick='onSummarize()'>Summarize</button>
      <button {% if not user.is_authenticated %} disabled {% endif %} type="button" class="btn btn-info mx-2"
        onclick='onPresentation()'>Presentation</button>
      <label>using</label>
      <select id="llm-model" name="llm-model" title="Select LLM Model" class="mx-2 py-2">
        <option selected>Google GenAI Gemini 2.0 Flash</option>
        <option>Google GenAI Gemini 2.0 Flash-Lite</option>
        <option>OpenRouter Google Gemini 2.0 Flash Experimental (free)</option>
        <option>OpenRouter Google Gemini 2.0 Flash-Lite</option>
        <option>OpenRouter Google Gemini 1.5 Flash</option>
        <option>OpenRouter DeepSeek R1 (free)</option>
        <option>OpenRouter DeepSeek R1 Zero (free)</option>
        <option>OpenRouter DeepSeek V3 0324 (free)</option>
        <option>OpenRouter DeepSeek V3 (free)</option>
        <option>Ollama deepseek-r1:32b (local)</option>
        <option>Ollama deepseek-r1:14b (local)</option>
        <option>Ollama deepseek-r1:7b (local)</option>
      </select>
      <span class="vr mx-2"></span>
      <button {% if not user.is_authenticated %} disabled {% endif %} type="button" class="btn btn-secondary mx-2"
        onclick='onFixMarkdown()'>Fix Markdown</button>
      <button {% if not user.is_authenticated %} disabled {% endif %} type="button" class="btn btn-primary mx-2"
        onclick='onSave()'>Save Note</button>
      <span class="vr mx-2"></span>
      <label class="mx-2">Markdown:</label>
      <button type="button" class="circle" onclick='onZoomOut()'>-</button>
      <button type="button" class="circle" onclick='onZoomReset()'>=</button>
      <button type="button" class="circle" onclick='onZoomIn()'>+</button>
      <button type="button" class="circle" onclick='onZoomFit()'>&#x27F7;</button>
      <span class="vr mx-2"></span>
      <a href="{% url 'paper_note' paper.id %}" target="_blank" class="mx-1"><img src="{% static 'images/note.png' %}"
          width="20" alt="Note"></a>
      <a href="{% url 'paper_presentation' paper.id %}" target="_blank" class="mx-1"><img
          src="{% static 'images/presentation.png' %}" width="20" alt="Presentation"></a>
    </div>
  </div>
</div>

{{ SUMMARY_PROMPT|json_script:"SUMMARY_PROMPT_DATA" }}
{{ PRESENTATION_PROMPT|json_script:"PRESENTATION_PROMPT_DATA" }}

<script type="text/javascript" charset="utf8"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(', '\\)']],
      displayMath: [['$$','$$'], ['\\[', '\\]']],
      processEscapes: true,
      processEnvironments: true
    }
  });
</script>
<script>
  const noteControl = document.getElementById('note');
  const markdownControl = document.getElementById('note-markdown-preview');
  const pdfPanel = $("#note-pdf-panel");
  const notePanel = $("#note-editor-panel");
  const markdownPanel = $("#note-markdown-panel");
  const OLLAMA_REQUEST_URL = "{{ OLLAMA_REQUEST_URL }}";
  let isNoteChanged = false;

  const splitter = Split(['#note-pdf-panel', '#note-editor-panel', '#note-markdown-panel'], {
    sizes: [40, 30, 30],
    minSize: 0,
    gutterSize: 5,
    snapOffset: 60,
    cursor: 'col-resize'
  });

  const simplemde = new SimpleMDE({
    element: noteControl,
    status: false,
    spellChecker: false,
  });

  simplemde.codemirror.on("change", () => {
    document.querySelector('div.CodeMirror').style.border = '1px solid orangered';
    isNoteChanged = true;
    setTimeout(() => requestAnimationFrame(updateMarkdown), 100);
  });

  function onViewMode(mode) {
    const checkPdf = document.getElementById("check-pdf").checked;
    const checkNote = document.getElementById("check-note").checked;
    const checkMarkdown = document.getElementById("check-markdown").checked;
    let sizes = splitter.getSizes();

    if (mode == 'pdf')
      if (checkPdf) {
        sizes[0] = (sizes[1] + sizes[2]) / 2;
      } else {
        sizes[0] = 0;
      }

    if (mode == 'note')
      if (checkNote) {
        sizes[1] = (sizes[0] + sizes[2]) / 2;
      } else {
        sizes[1] = 0;
      }

    if (mode == 'markdown')
      if (checkMarkdown) {
        sizes[2] = (sizes[0] + sizes[1]) / 2;
      } else {
        sizes[2] = 0;
      }

    const sum = sizes[0] + sizes[1] + sizes[2];

    if (sum > 1) {
      sizes[0] = 100 * sizes[0] / sum;
      sizes[1] = 100 * sizes[1] / sum;
      sizes[2] = 100 * sizes[2] / sum;
    }

    splitter.setSizes(sizes);
  }

  function updateMarkdown() {
    const regex = /[\p{Script=Han}\p{Script=Hiragana}\p{Script=Katakana}\p{Script=Cyrillic}\p{Script=Devanagari}]/gu;
    let html = marked(simplemde.value());
    html = DOMPurify.sanitize(html);
    html = html.replace(regex, match => `<span style="color: red;">${match}</span>`);
    markdownControl.innerHTML = html;

    // 마크다운이 변경될 때마다 수식을 다시 렌더링해야 한다.
    MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
  }

  async function onImportPDF(pdfUrl) {
    try {
      appendNote(await extractPDF(pdfUrl));
    } catch (e) {
      reportError(e);
    }
  }

  function appendNote(msg) {
    const cm = simplemde.codemirror;
    const doc = cm.getDoc();
    const cursor = doc.getCursor();
    const scrollTop = cm.getScrollInfo().top;
    const lastLine = doc.lastLine();
    const lastChar = doc.getLine(lastLine).length;

    doc.setCursor(lastLine, lastChar);
    doc.replaceSelection(msg);

    doc.setCursor(cursor);
    cm.scrollTo(0, scrollTop);
  }

  async function onShowToolbar() {
    document.getElementById("show-toolbar-button").classList.add("d-none");
    document.getElementById("bottom-toolbar").classList.remove("d-none");
    document.getElementById("editor-page").classList.remove("no-toolbar");
  }

  async function onHideToolbar() {
    document.getElementById("show-toolbar-button").classList.remove("d-none");
    document.getElementById("bottom-toolbar").classList.add("d-none");
    document.getElementById("editor-page").classList.add("no-toolbar");
  }

  async function onSummarize() {
    const prompt = JSON.parse(document.getElementById("SUMMARY_PROMPT_DATA").textContent);
    requestToLLM(prompt);
  }

  async function onPresentation() {
    const prompt = JSON.parse(document.getElementById("PRESENTATION_PROMPT_DATA").textContent);
    requestToLLM(prompt);
  }


  async function requestToLLM(prompt) {
    model = document.getElementById("llm-model").value;
    const question = prompt + simplemde.value().trim();

    try {
      if (model.startsWith("Google GenAI")) {
        requestGenAI(model, question);
      } else if (model.startsWith("OpenRouter")) {
        requestOpenRouter(model, question);
      } else if (model.startsWith("Ollama")) {
        requestOllama(model, question);
      } else {
        alert("Unknown model provider");
        return;
      }

      alert("Sending request!\nIt may take a while to receive a response.");
    } catch (e) {
      reportError(e);
    }
  }

  function getModelName(model) {
    const modelMap = {
      "Google GenAI Gemini 2.0 Flash": "gemini-2.0-flash",
      "Google GenAI Gemini 2.0 Flash-Lite": "gemini-2.0-flash-lite",
      "Google GenAI Gemini 1.5 Pro": "gemini-1.5-pro",
      "OpenRouter Google Gemini 2.5 Pro Experimental (free)": "google/gemini-2.5-pro-exp-03-25:free",
      "OpenRouter Google Gemini 2.0 Experimental (free)": "google/gemini-2.0-pro-exp-02-05:free",
      "OpenRouter Google Gemini 2.0 Flash Experimental (free)": "google/gemini-2.0-flash-exp:free",
      "OpenRouter Google Gemini 2.0 Flash-Lite": "google/gemini-2.0-flash-lite-001",
      "OpenRouter Google Gemini 1.5 Flash": "google/gemini-flash-1.5",
      "OpenRouter DeepSeek R1 (free)": "deepseek/deepseek-r1:free",
      "OpenRouter DeepSeek R1 Zero (free)": "deepseek/deepseek-r1-zero:free",
      "OpenRouter DeepSeek V3 0324 (free)": "deepseek/deepseek-chat-v3-0324:free",
      "OpenRouter DeepSeek V3 (free)": "deepseek/deepseek-chat:free",
      "Ollama deepseek-r1:32b (local)": "deepseek-r1:32b",
      "Ollama deepseek-r1:14b (local)": "deepseek-r1:14b",
      "Ollama deepseek-r1:7b (local)": "deepseek-r1",
    };

    return modelMap[model] || null;
  }
  async function requestGenAI(model, question) {
    const GEMINI_API_KEY = "{{GEMINI_API_KEY}}";
    const csrf_token = "{{ csrf_token }}";
    const model_id = getModelName(model);

    if (!model_id) {
      alert("Invalid model name:" + model);
      return;
    }

    try {
      const response = await fetch("/home/request_genai/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrf_token
        },
        body: JSON.stringify({
          model: model_id,
          key: GEMINI_API_KEY,
          question: question,
        })
      });

      if (!response.ok) {
        reportError(`Error: ${await response.text()}`);
        return;
      }

      if (!response.body) {
        reportError(`Error: No response body received`);
        return;
      }

      appendNote('\n\n---\n\n');

      const reader = response.body.getReader();
      const decoder = new TextDecoder("utf-8");

      while (true) {
        const { done, value } = await reader.read();
        if (done) break;

        const chunk = decoder.decode(value, { stream: true });

        appendNote(chunk);
      }
    } catch (e) {
      reportError(e);
    }
  }

  async function requestOpenRouter(model, question) {
    const OPENROUTER_API_KEY = "{{OPENROUTER_API_KEY}}";
    const csrf_token = "{{ csrf_token }}";
    const model_id = getModelName(model);

    if (!model_id) {
      alert("Invalid model name:" + model);
      return;
    }

    try {
      const response = await fetch("/home/request_openrouter/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrf_token
        },
        body: JSON.stringify({
          model: model_id,
          key: OPENROUTER_API_KEY,
          question: question,
        })
      });

      if (!response.ok) {
        reportError(`Error: ${await response.text()}`);
        return;
      }

      if (!response.body) {
        reportError(`Error: No response body received`);
        return;
      }

      appendNote('\n\n---\n\n');

      const reader = response.body.getReader();
      const decoder = new TextDecoder("utf-8");

      while (true) {
        const { done, value } = await reader.read();
        if (done) break;

        const chunk = decoder.decode(value, { stream: true });

        appendNote(chunk);
      }
    } catch (e) {
      reportError(e);
    }
  }

  async function requestOllama(model, question) {
    const model_id = getModelName(model);

    if (!model_id) {
      alert("Invalid model name:" + model);
      return;
    }

    try {
      const response = await fetch(OLLAMA_REQUEST_URL, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          model: model_id,
          prompt: question,
          stream: true
        })
      });

      if (!response.ok) {
        reportError(`Error: ${await response.text()}`);
        return;
      }

      if (!response.body) {
        reportError(`Error: No response body received`);
        return;
      }

      appendNote('\n\n---\n\n');

      // Scroll down to the end of the document.
      const doc = simplemde.codemirror.getDoc();
      const lastLine = doc.lastLine();
      const lastChar = doc.getLine(lastLine).length;

      doc.setCursor(lastLine, lastChar);

      const reader = response.body.getReader();
      const decoder = new TextDecoder();
      let partialData = "";

      async function processStream() {
        const { done, value } = await reader.read();
        if (done) {
          if (partialData.trim()) {
            try {
              const jsonData = JSON.parse(partialData);
              appendNote(jsonData.response);
            } catch (error) {
              reportError(error);
            }
          }

          return;
        }

        partialData += decoder.decode(value, { stream: true });
        const lines = partialData.split("\n");
        partialData = lines.pop();

        for (const line of lines) {
          if (line.trim()) {
            try {
              const jsonData = JSON.parse(line);
              appendNote(jsonData.response);
            } catch (error) {
              reportError(error);
            }
          }
        }

        setTimeout(() => requestAnimationFrame(processStream), 100);
      }

      processStream();
    } catch (e) {
      reportError(e);
    }
  }

  async function onFixMarkdown() {
    let text = simplemde.value();

    const replacements = [
      [/(^#.*)/gm, "\n$1\n"], // Ensure headers have surrounding newlines
      [/\n#\s/g, "# "], // Remove first blank line
      [/\n---\n/g, "\n\n---\n\n"], // Add blank lines before and after the delimiter
      [/\n{3,}/g, "\n\n"], // Replace 3+ newlines with 2
      [/[ \t]+$/gm, ""], // Remove trailing space
      [/^(#+)\s\*\*(.*)\*\*$/gm, "$1 $2"], // Remove bold from headers
      [/\\\*\\\*(.*)\\\*\\\*/g, "**$1**"], // Fix escaped bold markers
      [/^(\s*)\*(\s)/gm, "$1-$2"], // Convert list markers from * to -
      [/^(\s*)-\s\s+/gm, "$1- "], // Remove multiple white space after hyphen
      [/\\\(\s*(.*?)\s*\\\)/g, "$$$1$$"], // Convert escaped parentheses
      [/\\\[([\s\n][\s\S]*?[\s\n])\\\]/g, "$$$$$1$$$$"], // Convert escaped math
      [/\\\$/g, "\$"], // Convert escaped dollar
      [/(?<=\$(?!\\_)(.*?))\\_(?=.*?\$)/g, "_"], // Convert escaped underscore,
      [/(?<=\$(?!\\_)(.*?))_(?=.*?\$)/g, "\\_"], // Convert to escaped underscore in math,
      [/(?<=\$(?!\\_)(.*?))\*(?=.*?\$)/g, "\\ast "], // Convert "*" to "\ast" in math,
      [/(?<=\$(?!\\_)(.*?))\\\{(?=.*?\$)/g, "\\lbrace "], // Convert "\{" to \\lbrace in math,
      [/(?<=\$(?!\\_)(.*?))\\\}(?=.*?\$)/g, "\\rbrace "], // Convert "\}" to \\rbrace in math,
    ];

    text = replacements.reduce(
      (acc, [pattern, replacement]) =>
        acc.replace(pattern, replacement), text);

    simplemde.value(text);
  }

  async function onSave() {
    $.ajax({
      url: "{% url 'paper_update_note' paper.id %}",
      type: "POST",
      data: {
        note: simplemde.value(),
        csrfmiddlewaretoken: "{{ csrf_token }}"
      },
      success: function (response) {
        document.querySelector('div.CodeMirror').style.border = '1px solid lightgray';
        isNoteChanged = false;
      },
      error: function (xhr, msg, err) {
        alert("Error: " + msg);
        console.error(err);
      }
    });
  }

  let currentScale = 1;

  async function onZoomOut() {
    if (currentScale > 0.4) {
      currentScale -= 0.2;
      updateZoom();
    }
  }

  async function onZoomReset() {
    currentScale = 1;
    updateZoom();
  }

  async function onZoomIn() {
    if (currentScale < 10) {
      currentScale += 0.2;
      updateZoom();
    }
  }

  async function onZoomFit() {
    currentScale = 10;
    updateZoom();
  }

  async function updateZoom() {
    markdownControl.style.transform = `scale(${currentScale})`;
    const rect = markdownControl.getBoundingClientRect();
    const container = document.getElementById('note-markdown-container');

    if (rect.width > container.clientWidth) {
      currentScale *= container.clientWidth / rect.width;

      markdownControl.style.transform = `scale(${currentScale})`;
    }
  }

  window.onload = function () {
    const host = window.location.hostname;
    const port = window.location.port;
    const pdfUrl = "{{ paper.pdf_url }}";
    const frame = document.getElementById('note-pdf-preview');
    const url = `http://${host}:${port}{% url 'get_pdf' %}?url=${pdfUrl}`;
    frame.src = url;

    updateMarkdown();
  }
</script>

{% if user.is_authenticated %}
<script>
  document.addEventListener("keydown", function (event) {
    if (event.ctrlKey && event.key === "s") {
      event.preventDefault();
      onSave();
    }
  });

  window.addEventListener('beforeunload', function (e) {
    if (isNoteChanged) {
      e.preventDefault();
      e.returnValue = '';
    }
  });
</script>
{% endif %}
{% endblock %}