{% extends "base.html" %}
{% block content %}
<div class="justify-content-center">
  <div class="container">
    {% if user.is_authenticated %}
    {% if messages %}
    <div class="row">
      {% for message in messages %}
      <div class="message">
        {{ message }}
        <button type="button" onclick="this.parentElement.style.display='none'" class="message">✖</button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}
    <div class="row">
      <form method="POST" action="{% url 'paper_create' %}">
        {% csrf_token %}
        <div class="row my-2">
          <div class="col-2 text-end mt-2">
            <label for="title" class="form-label fw-bold mt-1">Title</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
          </div>
          <div class="col-2 text-end mt-2">
            <label for="author" class="form-label fw-bold mt-1">Author</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="author" name="author" placeholder="Author" required>
          </div>
          <div class="col-2 text-end mt-2">
            <label for="publisher" class="form-label">Publisher</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="publisher" name="publisher" placeholder="Publisher">
          </div>
          <div class="col-2 text-end mt-2">
            <label for="publish_date" class="form-label">Publish Date</label>
          </div>
          <div class="col-9 mt-1">
            <input type="date" class="form-control" id="publish_date" name="publish_date" placeholder="Publish Date">
          </div>
          <div class="col-2 text-end mt-2">
            <label for="doi" class="form-label">DOI</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="doi" name="doi" placeholder="DOI">
          </div>
          <div class="col-2 text-end mt-2">
            <label for="url" class="form-label fw-bold mt-1">URL</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="url" name="url" placeholder="URL" required
              onchange="onChangeURL()">
          </div>
          <div class="col-2 text-end mt-2">
            <label for="pdf_url" class="form-label fw-bold mt-1">PDF URL</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="pdf_url" name="pdf_url" placeholder="PDF URL" required>
          </div>
          <div class="col-2 text-end mt-2">
            <label for="pdf_name" class="form-label">PDF Name</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="pdf_name" name="pdf_name" placeholder="PDF Name">
          </div>
          <div class="col-2 text-end mt-2">
            <label for="citations" class="form-label">Citations</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control" id="citations" name="citations" placeholder="Citations">
          </div>
          <div class="col-2 text-end mt-2">
            <label for="tags" class="form-label">Tags</label>
          </div>
          <div class="col-9 mt-1">
            <input type="text" class="form-control disabled" id="tags" name="tags" placeholder="Tags" readonly>
          </div>
          <div class="col-2 text-end mt-2">
            <label for="abstract" class="form-label">Abstract</label>
          </div>
          <div class="col-9 mt-1">
            <textarea type="abstract" rows="5" class="form-control" id="abstract" name="abstract"
              placeholder="Abstract"></textarea>
          </div>
          <div class="col-2 text-end mt-2">
            <label for="note" class="form-label">Note</label>
          </div>
          <div class="col-9 mt-1">
            <textarea type="text" rows="5" class="form-control" id="note" name="note" placeholder="Note"></textarea>
          </div>
          <div class="col-2 text-end mt-2">
            <label for="topic" class="form-label">Topic</label>
          </div>
          <div class="col-9 mt-1">
            <div id="paper-topic-panel" class="p-2 border rounded overflow-scroll">
              <div>
                {% for topic in topics %}
                <div>
                  <input class="form-check-input" type="checkbox" id="topic-{{ topic.id }}" name="topics"
                    value="{{ topic.id }}" title="{{ topic.title }}" {% if topic.id in topic_ids %} checked {% endif %}>
                  <label class="form-check-label" for="topic-{{ topic.id }}">
                    {{ topic.title }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-12 mt-3 text-center">
            <button {% if not user.is_authenticated %}disabled{% endif %} type="submit" class="btn btn-primary mx-2">Add
              Paper</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  async function onChangeURL() {
    const url = document.getElementById("url").value;
    let info = null;

    if (url.startsWith("https://arxiv.org/abs/")) {
      info = await getInfoFromArxiv(url);
    }

    const titleElement = document.getElementById("title");
    const authorElement = document.getElementById("author");
    const publisherElement = document.getElementById("publisher");
    const abstractElement = document.getElementById("abstract");
    const pdfUrlElement = document.getElementById("pdf_url");
    const pdfNameElement = document.getElementById("pdf_name");

    if (titleElement.value == "")
      titleElement.value = info.title;

    if (authorElement.value == "")
      authorElement.value = info.authors;

    if (publisherElement.value == "")
      publisherElement.value = "arXiv";

    if (abstractElement.value == "")
      abstractElement.value = info.abstract;

    if (pdfUrlElement.value == "")
      pdfUrlElement.value = url.replace("/abs/", "/pdf/");

    if (pdfNameElement.value == "")
      pdfNameElement.value = info.title.replace(" ", "_") + ".pdf";
  }

  async function getInfoFromArxiv(url) {
    const html = await getHtml(url);

    if (html !== "") {
      const parser = new DOMParser();
      const doc = parser.parseFromString(html, "text/html");
      const titleSelector = "h1.title";
      const authorSelector = "div.authors";
      const abstractSelector = "blockquote.abstract";

      const title = doc.querySelector(titleSelector)?.innerText.trim().replace("Title:", "") || "";
      const authors = doc.querySelector(authorSelector)?.innerText.trim().replace("Authors:", "") || "";
      const abstract = doc.querySelector(abstractSelector)?.innerText.trim().replace("Abstract:", "") || "";

      return {
        title: title,
        authors: authors,
        abstract: abstract
      };
    } else {
      return {
        title: "",
        authors: "",
        abstract: ""
      }
    }
  }

  async function getHtml(url) {
    const csrf_token = "{{ csrf_token }}";
    const backendUrl = "{% url 'get_html' %}" + `?url=${encodeURIComponent(url)}`;
    const response = await fetch(backendUrl, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrf_token
      }
    });

    if (!response.ok) {
      return "";
    }

    const data = await response.json();
    return data.html || "";
  }
</script>
{% endblock %}