{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="justify-content-center">
  <div class="container">
    {% if messages %}
    <div class="row">
      {% for message in messages %}
      <div class="message">
        {{ message }}
        <button type="button" onclick="this.parentElement.style.display='none'" class="message">✖</button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="d-flex justify-content-center">
    <div class="flex-fill col-10 m-2 full-note" id="pdf-panel">
      <iframe id="pdf" name="pdf" title="pdf" class="full-note border rounded"></iframe>
    </div>
    <div class="flex-fill col-6 m-2" id="note-panel">
      <textarea type="text" class="full-note container-fluid border rounded" id="note" name="note"
        placeholder="Note">{{ paper.note|safe }}</textarea>
    </div>
    <div class="flex-fill col-6 m-2" id="markdown-panel">
      <div id="markdown" class="border rounded markdown p-2"></div>
    </div>
  </div>
  <div class="col-12 text-center">
    <select id="view-mode" title="View Mode" class="form-control inline" onchange="onViewMode()">
      <option value="PDF">[P &middot; &middot;] PDF</option>
      <option value="Note">[&middot; N &middot;] Note</option>
      <option value="Markdown">[&middot; &middot; M] Markdown</option>
      <option value="PDF + Note">[P N &middot;] PDF + Note</option>
      <option value="PDF + Markdown">[P &middot; M] PDF + Markdown</option>
      <option value="Note + Markdown" selected>[&middot; N M] Note + Markdown</option>
      <option value="PDF + Note + Markdown">[P N M] PDF + Note + Markdown</option>
    </select>
    <button type="button" class="btn btn-secondary mx-2" onclick='onImportPDF("{{ paper.pdf_url }}")'>Import
      PDF</button>
    <button type="button" class="btn btn-success mx-2" onclick='onSummarizeBOT()'>Summarize</button>
    <button type="button" class="btn btn-warning mx-2" onclick='onTranslateBOT()'>Translate</button>
    <button type="button" class="btn btn-primary mx-2" onclick='onSave()'>Save</button>
  </div>
</div>
<script>
  const noteControl = document.getElementById('note');
  const markdownControl = document.getElementById('markdown');
  const pdfPanel = $("#pdf-panel");
  const notePanel = $("#note-panel");
  const markdownPanel = $("#markdown-panel");
  const llmModel = "{{ LLM_MODEL }}";
  const llmUrl = "{{ LLM_REQUEST_URL }}";
  var simplemde = new SimpleMDE({
    element: noteControl,
    status: false,
    spellChecker: false,
  });

  simplemde.codemirror.on("change", () => {
    updateMarkdown();
    document.querySelector('div.CodeMirror').style.border = '2px solid orangered';
  });

  function onLeftButton() {
    if (!markdownPanel.is(":visible")) {
      markdownPanel.show();
      return;
    }

    if (notePanel.is(":visible"))
      notePanel.hide();
  }

  function onViewMode() {
    const selection = document.getElementById("view-mode").value;

    if (selection == 'PDF') {
      pdfPanel.show();
      notePanel.hide();
      markdownPanel.hide();
    } else if (selection == 'Note') {
      pdfPanel.hide();
      notePanel.show();
      markdownPanel.hide();
    } else if (selection == 'Markdown') {
      pdfPanel.hide();
      notePanel.hide();
      markdownPanel.show();
    } else if (selection == 'PDF + Note') {
      pdfPanel.show();
      notePanel.show();
      markdownPanel.hide();
    } else if (selection == 'PDF + Markdown') {
      pdfPanel.show();
      notePanel.hide();
      markdownPanel.show();
    } else if (selection == 'Note + Markdown') {
      pdfPanel.hide();
      notePanel.show();
      markdownPanel.show();
    } else if (selection == 'PDF + Note + Markdown') {
      pdfPanel.show();
      notePanel.show();
      markdownPanel.show();
    }
  }

  function updateMarkdown() {
    let markdown = simplemde.value();
    markdown = marked(markdown);

    const regex = /[\p{Script=Han}\p{Script=Hiragana}\p{Script=Katakana}\p{Script=Cyrillic}\p{Script=Devanagari}]/gu;
    markdown = markdown.replace(regex, match => `<span style="color: red;">${match}</span>`);
    markdownControl.innerHTML = markdown;

    // 마크다운이 변경될 때마다 수식을 다시 렌더링해야 한다.
    MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
  }

  async function onImportPDF(pdfUrl) {
    try {
      simplemde.value(await extractPDF(pdfUrl) + '\n\n---\n\n' + simplemde.value());
      updateMarkdown();
    } catch (e) {
      reportError(e);
    }
  }

  async function requestBOT(question) {
    console.log(llmUrl);

    try {
      const response = await fetch(llmUrl, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          model: llmModel,
          prompt: question,
          stream: false
        })
      });

      if (!response.ok) {
        throw new Error(`HTTP Error: ${response.status} ${response.statusText}`);
      }

      const data = await response.json();

      if (!data.response) {
        throw new Error("Error: No response received from API.");
      }

      simplemde.value(data.response.replace(/<think>[\s\S]*?<\/think>/g, '').trim() + '\n\n---\n\n' + simplemde.value());
      updateMarkdown();
    } catch (e) {
      reportError(e);
    }
  }

  async function onSummarizeBOT() {
    const prompt = "Write a very detailed analysis report for the following paper in Markdown format.\n\n---\n\nPAPER: "
    const question = prompt + simplemde.value().trim();

    try {
      requestBOT(question);
      alert("Sending request!\nIt may take a while to receive a response.");
    } catch (e) {
      reportError(e);
    }
  }

  async function onTranslateBOT() {
    const prompt = "Translate the following text into Korean. Do not use Chinese nor Japanese.\n\n---\n\nTEXT: ";
    const question = prompt + simplemde.value().trim();
    
    try {
      requestBOT(question);
      alert("Sending request!\nIt may take a while to receive a response.");
    } catch (e) {
      reportError(e);
    }
  }

  async function onSave() {
    $.ajax({
      url: "{% url 'paper_update_note' paper.id %}",
      type: "POST",
      data: {
        note: simplemde.value(),
        csrfmiddlewaretoken: "{{ csrf_token }}"
      },
      success: function (response) {
        document.querySelector('div.CodeMirror').style.border = '1px solid lightgray';
        alert("Note saved successfully!");
      },
      error: function (xhr, msg, err) {
        alert("Error: " + msg);
        console.error(err);
      }
    });
  }

  window.onload = function () {
    pdfPanel.hide();

    const pdfUrl = "{{ paper.pdf_url }}";
    const frame = document.getElementById('pdf');
    frame.src = pdfUrl;

    updateMarkdown();
  }
</script>
{% endblock %}