{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="justify-content-center">
  <div class="container">
    {% if messages %}
    <div class="row">
      {% for message in messages %}
      <div class="message">
        {{ message }}
        <button type="button" onclick="this.parentElement.style.display='none'" class="message">✖</button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="d-flex justify-content-center">
    <div class="flex-fill col-10 m-2 full-note" id="pdf-panel">
      <iframe id="pdf" name="pdf" title="pdf" class="full-note border rounded"></iframe>
    </div>
    <div class="flex-fill col-6 m-2" id="note-panel">
      <textarea type="text" class="full-note container-fluid border rounded" id="note" name="note"
        placeholder="Note">{{ paper.note|safe }}</textarea>
    </div>
    <div class="flex-fill col-6 m-2" id="markdown-panel">
      <div id="markdown" class="border rounded markdown p-2"></div>
    </div>
  </div>
  <div class="col-12 text-center">
    <input type="checkbox" id="check-pdf" name="view-mode" value="pdf" title="Toggle PDF" checked
      onchange="onViewMode()">
    <label for="check-pdf" class="form-label">PDF</label>
    <input type="checkbox" id="check-note" name="view-mode" value="note" title="Toggle Note" checked
      onchange="onViewMode()">
    <label for="check-note" class="form-label">Note</label>
    <input type="checkbox" id="check-markdown" name="view-mode" value="markdown" title="Toggle Markdown" checked
      onchange="onViewMode()">
    <label for="check-markdown" class="form-label">Markdown</label>
    <button {% if not user.is_authenticated %} disabled {% endif %} type="button" class="btn btn-secondary mx-2"
      onclick='onImportPDF("{{ paper.pdf_url }}")'>Import
      PDF</button>
    <button {% if not user.is_authenticated %} disabled {% endif %} type="button" class="btn btn-success mx-2"
      onclick='onSummarizeGemini()'><img src="{% static 'images/google_gemini.webp'%}" alt="Gemini" height="22"
        class="mb-1" /> Summarize</button>
    <button {% if not user.is_authenticated %} disabled {% endif %} type="button" class="btn btn-success mx-2"
      onclick='onSummarizeOllama()'><img src="{% static 'images/ollama.png'%}" alt="Ollama" height="20" class="mb-1" />
      Summarize</button>
    <button {% if not user.is_authenticated %} disabled {% endif %} type="button" class="btn btn-warning mx-2"
      onclick='onTranslateOllama()'><img src="{% static 'images/ollama.png'%}" alt="Ollama" height="20" class="mb-1" />
      Translate</button>
    <!-- <button {% if not user.is_authenticated %} disabled {% endif %} type="button" class="btn btn-warning mx-2"
      onclick='onTranslateGoogle()'><img src="{% static 'images/google_translate.webp' %}" alt="Google Translate" width="20" /> Translate</button> -->
    <button {% if not user.is_authenticated %} disabled {% endif %} type="button" class="btn btn-primary mx-2"
      onclick='onSave()'>Save</button>
  </div>
</div>
<script type="text/javascript" charset="utf8"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(', '\\)']],
      displayMath: [['$$','$$'], ['\\[', '\\]']],
      processEscapes: true,
      processEnvironments: true
    }
  });
</script>
<script>
  const noteControl = document.getElementById('note');
  const markdownControl = document.getElementById('markdown');
  const pdfPanel = $("#pdf-panel");
  const notePanel = $("#note-panel");
  const markdownPanel = $("#markdown-panel");
  const llmModel = "{{ LLM_MODEL }}";
  const llmUrl = "{{ LLM_REQUEST_URL }}";
  var simplemde = new SimpleMDE({
    element: noteControl,
    status: false,
    spellChecker: false,
  });

  simplemde.codemirror.on("change", () => {
    updateMarkdown();
    document.querySelector('div.CodeMirror').style.border = '1px solid orangered';
  });

  function onLeftButton() {
    if (!markdownPanel.is(":visible")) {
      markdownPanel.show();
      return;
    }

    if (notePanel.is(":visible"))
      notePanel.hide();
  }

  function onViewMode() {
    const checkPdf = document.getElementById("check-pdf").checked;
    const checkNote = document.getElementById("check-note").checked;
    const checkMarkdown = document.getElementById("check-markdown").checked;

    if (checkPdf)
      pdfPanel.show();
    else
      pdfPanel.hide();

    if (checkNote)
      notePanel.show();
    else
      notePanel.hide();

    if (checkMarkdown)
      markdownPanel.show();
    else
      markdownPanel.hide();
  }

  function updateMarkdown() {
    let markdown = simplemde.value();
    markdown = marked(markdown);

    const regex = /[\p{Script=Han}\p{Script=Hiragana}\p{Script=Katakana}\p{Script=Cyrillic}\p{Script=Devanagari}]/gu;
    markdown = markdown.replace(regex, match => `<span style="color: red;">${match}</span>`);
    markdownControl.innerHTML = markdown;

    // 마크다운이 변경될 때마다 수식을 다시 렌더링해야 한다.
    MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
  }

  async function onImportPDF(pdfUrl) {
    try {
      appendNote(await extractPDF(pdfUrl));
    } catch (e) {
      reportError(e);
    }
  }

  function appendNote(msg) {
    const cm = simplemde.codemirror;
    const doc = cm.getDoc();
    const cursor = doc.getCursor();
    const scrollTop = cm.getScrollInfo().top;
    const lastLine = doc.lastLine();
    const lastChar = doc.getLine(lastLine).length;

    doc.setCursor(lastLine, lastChar);
    doc.replaceSelection(msg);

    doc.setCursor(cursor);
    cm.scrollTo(0, scrollTop);
  }

  async function requestOllama(question) {
    console.log(`LLM URL: ${llmUrl}`);
    console.log(`Model: ${llmModel}`);

    try {
      const response = await fetch(llmUrl, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          model: llmModel,
          prompt: question,
          stream: true
        })
      });

      if (!response.ok) {
        reportError(`Error: ${await response.text()}`);
        return;
      }

      if (!response.body) {
        reportError(`Error: No response body received`);
        return;
      }

      appendNote('\n\n---\n\n');

      // Scroll down to the end of the document.
      const doc = simplemde.codemirror.getDoc();
      const lastLine = doc.lastLine();
      const lastChar = doc.getLine(lastLine).length;

      doc.setCursor(lastLine, lastChar);

      const reader = response.body.getReader();
      const decoder = new TextDecoder();
      let partialData = "";

      async function processStream() {
        const { done, value } = await reader.read();
        if (done) {
          if (partialData.trim()) {
            try {
              const jsonData = JSON.parse(partialData);
              appendNote(jsonData.response);
            } catch (error) {
              console.error("JSON Parsing Error:", error);
            }
          }

          return;
        }

        partialData += decoder.decode(value, { stream: true });
        const lines = partialData.split("\n");
        partialData = lines.pop();

        for (const line of lines) {
          if (line.trim()) {
            try {
              const jsonData = JSON.parse(line);
              appendNote(jsonData.response);
            } catch (error) {
              console.error("JSON Parsing Error:", error);
            }
          }
        }

        setTimeout(() => requestAnimationFrame(processStream), 100);
      }

      processStream();
    } catch (e) {
      reportError(e);
    }
  }

  async function requestGemini(question) {
    const GEMINI_API_KEY = "{{GEMINI_API_KEY}}";
    const API_URL = `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=${GEMINI_API_KEY}`;
    const csrf_token = "{{ csrf_token }}";

    try {
      const response = await fetch("/home/proxy/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrf_token
        },
        body: JSON.stringify({
          url: API_URL,
          headers: JSON.stringify({
              "Content-Type": "application/json"
          }),
          data: JSON.stringify({
            contents: [{
              parts: [{
                text: question
              }]
            }]
          })
        })
      });

      if (!response.ok) {
        reportError(`Error: ${await response.text()}`);
        return;
      }

      if (!response.body) {
        reportError(`Error: No response body received`);
        return;
      }

      appendNote('\n\n---\n\n');

      const data = await response.json();
      const doc = simplemde.codemirror.getDoc();
      const lastLine = doc.lastLine();
      const lastChar = doc.getLine(lastLine).length;

      doc.setCursor(lastLine, lastChar);

      appendNote(data.candidates?.[0]?.content?.parts?.[0]?.text || "No response!");
    } catch (e) {
      reportError(e);
    }
  }

  async function onSummarizeOllama() {
    const prompt_1 = `Write a very detailed analysis report for the following academic research paper in structured Markdown format.
- The report should include 1. Abstract, 2. Introduction, 3. Related Works, 4. Methodology, 5. Experiments and Results, and 6. Conclusion.
- Cover each section thoroughly and in detail.
- Omit reference.
- Omit appendix.
---
**PAPER**: `;
    const prompt_2 = `The text below is an excerpt from a research paper.
Write a detailed analysis report of the paper in Markdown format.
The report must be at least 10 A4 pages long.
---
**PAPER**: `;
    const prompt_3 = `Please re-format the entire text given below into hierarchical Markdown format.
- The text below is an excerpt from a academic research paper.
- The report should include 1. Abstract, 2. Introduction, 3. Related Works, 4. Proposed Methods, 5. Experiment Results, and 6. Conclusion.
- Do not include reference nor appendix.
---
**TEXT**: `;
    const prompt_4 = `Summarize the following paper in as much detail as possible.
- The summary should be at least 5,000 words long and must include the key concepts, research methods, findings, and conclusions of the paper.
- Avoid unnecessary interpretations or additional analysis.
- just provide a faithful and comprehensive summary of the content.
- Reports should be structured in Markdown format.
---
**TEXT**: `;
    const prompt_5 = `Summarize the main points from the text bellow using markdown bullet points.
- Maintain the numbering and titles of chapters, sections, and subsections as in the paper's table of contents.
- Stick to the original content without making any arbitrary modifications.
- Ensure the summary is detailed enough and easy to understand.
- Apply heading level 1 ("#") for title captions, level 2 ("##") for chapter captions, level 3 ("###") for section captions.
- Use $...$ for inline math and $$...$$ for block math.
---
**TEXT**: `;
    const prompt = prompt_1;
    const question = prompt + simplemde.value().trim();

    console.log(`**Prompt**: ${prompt}`);

    try {
      requestOllama(question);
      alert("Sending request!\nIt may take a while to receive a response.");
    } catch (e) {
      reportError(e);
    }
  }

  async function onSummarizeGemini() {
    const prompt = `Summarize the main points from the following TEXT using markdown bullet points.
Maintain the numbering and titles of chapters, sections, and subsections as in the paper’s table of contents.
Stay faithful to the original content without making arbitrary modifications.
Ensure the summary is sufficiently detailed and not too short.
Use primarily Korean, with English for technical terms.
Use the declarative form "이다" instead of the polite form "입니다."
Apply heading level 1 (#) for title captions, level 2 (##) for chapter captions, level 3 (###) for section captions, and level 4 (####) for subsection captions.
Use $...$ for inline math and $$...$$ for block math.
---
**TEXT**: `;
    const question = prompt + simplemde.value().trim();

    try {
      requestGemini(question);
      alert("Sending request!\nIt may take a while to receive a response.");
    } catch (e) {
      reportError(e);
    }
  }

  async function onTranslateOllama() {
    const prompt = "Translate the following text into Korean. Use Korean and English only.\n\n---\n\nTEXT: ";
    const question = prompt + simplemde.value().trim();

    try {
      requestOllama(question);
      alert("Sending request!\nIt may take a while to receive a response.");
    } catch (e) {
      reportError(e);
    }
  }

  async function onTranslateGoogle() {
    const url = 'https://translation.googleapis.com/language/translate/v2';
    const apiKey = "{{ GOOGLE_API_KEY }}";

    try {
      const response = await fetch(`${url}?key=${apiKey}`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          q: simplemde.value().trim(),
          format: 'text',
          source: 'en',
          target: 'ko'
        })
      });

      if (!response.ok) {
        reportError(`Error: ${await response.text()}`);
        return;
      }

      const result = await response.json();

      appendNote('\n\n---\n\n');
      appendNote(result.data.translations[0].translatedText);
    } catch (e) {
      reportError(e);
    }
  }

  async function onSave() {
    $.ajax({
      url: "{% url 'paper_update_note' paper.id %}",
      type: "POST",
      data: {
        note: simplemde.value(),
        csrfmiddlewaretoken: "{{ csrf_token }}"
      },
      success: function (response) {
        document.querySelector('div.CodeMirror').style.border = '1px solid lightgray';
      },
      error: function (xhr, msg, err) {
        alert("Error: " + msg);
        console.error(err);
      }
    });
  }

  window.onload = function () {
    const pdfUrl = "{{ paper.pdf_url }}";
    const frame = document.getElementById('pdf');
    frame.src = pdfUrl;

    updateMarkdown();
  }
</script>

{% if user.is_authenticated %}
<script>
  document.addEventListener("keydown", function (event) {
    if (event.ctrlKey && event.key === "s") {
      event.preventDefault();
      onSave();
    }
  });
</script>
{% endif %}
{% endblock %}