{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/reveal-5.2.1.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/theme/white.min.css">
{{ paper.note|json_script:"PAPER_NOTE_DATA" }}
<div id="presentation-page">
  <div class="reveal">
    <div class="slides">
      <section data-markdown data-separator="^---$" data-separator-vertical="^\+\+\+$">
        <script type="text/template" id="presentation-markdown" data-template></script>
      </section>
    </div>
  </div>
</div>
<script src="{% static 'js/reveal-5.2.1.min.js' %}"></script>
<script src="{% static 'js/reveal-markdown-5.2.1.min.js' %}"></script>
<script src="{% static 'js/reveal-math-5.2.1.min.js' %}"></script>
<script src="{% static 'js/reveal-search-5.2.1.min.js' %}"></script>
<script>
  // Hide header.
  document.querySelector("header").style.display = "none";

  // Set note.
  let note = JSON.parse(document.getElementById("PAPER_NOTE_DATA").textContent) || "# No Note Available";

  // Remove the first section of the note.
  // The first section is the full note.
  note = note.split("\n---\n")
  if (note.length > 1) {
    note = note.slice(1).join("\n---\n");
  } else {
    note = note[0];
  }

  document.getElementById("presentation-markdown").innerHTML = note;

  // Initialize Reveal.js.
  Reveal.initialize({
    hash: true,
    center: false,
    controlsBackArrows: 'visible',
    slideNumber: 'c/t',
    width: 1600,
    height: 800,
    plugins: [
      RevealMarkdown,
      RevealMath,
      RevealSearch,
    ],
  });

  // Ctrl+P to print mode.
  document.addEventListener('keydown', function (event) {
    if (event.ctrlKey && event.key === 'p') {
      let url = window.location.href;

      // Check if the URL already contains "?print-pdf"
      if (url.includes("?print-pdf")) {
        return;
      }

      event.preventDefault();

      if (url.includes("#")) {
        url = url.split("#")[0];
      }

      // Redirect to the new URL
      window.location.href = url + "?print-pdf";
    }
  });
</script>
{% endblock %}