{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center">
  <div class="container-xxl my-2 col-12">
    <form method="POST">
      {% csrf_token %}
        <div class="row my-2">
          <div class="col-2 mt-1">
            <label for="title" class="form-label mt-1">Title</label>
          </div>
          <div class="col-10 my-1">
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
          </div>
          <div class="col-2 mt-1">
            <label for="author" class="form-label mt-1 text-right">Author</label>
          </div>
          <div class="col-10 my-1">
            <input type="text" class="form-control" id="author" name="author" placeholder="Author" required>
          </div>
          <div class="col-2 mt-1">
            <label for="author" class="form-label mt-1 text-right">Publisher</label>
          </div>
          <div class="col-10 my-1">
            <input type="text" class="form-control" id="publisher" name="publisher" placeholder="Publisher" required>
          </div>
          <div class="col-2 mt-1">
            <label for="publish_date" class="form-label mt-1 text-right">Publish Date</label>
          </div>
          <div class="col-10 my-1">
            <input type="date" class="form-control" id="publish_date" name="publish_date" placeholder="Publish Date" required>
          </div>
          <div class="col-2 mt-1">
            <label for="author" class="form-label mt-1 text-right">DOI</label>
          </div>
          <div class="col-10 my-1">
            <input type="text" class="form-control" id="doi" name="doi" placeholder="DOI" required>
          </div>
          <div class="col-2 mt-1">
            <label for="author" class="form-label mt-1 text-right">URL</label>
          </div>
          <div class="col-10">
            <input type="text" class="form-control" id="url" name="url" placeholder="URL" required>
          </div>
          <div class="col-2 mt-1">
            <label for="author" class="form-label mt-1 text-right">PDF URL</label>
          </div>
          <div class="col-10">
            <input type="text" class="form-control" id="pdf_url" name="pdf_url" placeholder="PDF URL" required>
          </div>
          <div class="col-2 mt-1">
            <label for="author" class="form-label mt-1 text-right">PDF Name</label>
          </div>
          <div class="col-10">
            <input type="text" class="form-control" id="pdf_name" name="pdf_name" placeholder="PDF Name" required>
          </div>
          <div class="col-2 mt-1">
            <label for="author" class="form-label mt-1 text-right">Citations</label>
          </div>
          <div class="col-10">
            <input type="text" class="form-control" id="citations" name="citations" placeholder="Citations" required>
          </div>
          <div class="col-2 mt-1">
            <label for="author" class="form-label mt-1 text-right">Tags</label>
          </div>
          <div class="col-10">
            <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags" required>
          </div>
          <div class="col-2 mt-1">
            <label for="author" class="form-label mt-1 text-right">Note</label>
          </div>
          <div class="col-10">
            <textarea type="text" class="form-control" id="note" name="note" placeholder="Note" required></textarea>
          </div>
          <div class="col-12 mt-3 text-center">
            <button type="submit" class="btn btn-primary mx-2">Submit</button>  
          </div>
        </div>
    </form>
  </div>
</div>

{% endblock %}