{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid px-0">
  <div class="row">
    <div class="col-12">
      <iframe id="pdf" name="pdf" title="pdf"></iframe>
    </div>
  </div>
</div>
<script>
  window.onload = function () {
    const host = window.location.hostname;
    const port = window.location.port;
    const pdfUrl = "{{ paper.pdf_url }}";
    const frame = document.getElementById('pdf');
    const url = `http://${host}:${port}{% url 'get_pdf' %}?url=${pdfUrl}`;
    frame.src = url;
  }
</script>
{% endblock %}