{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="justify-content-center">
    <div class="container">
        {% if messages %}
        <div class="row">
            {% for message in messages %}
            <div class="message">
                {{ message }}
                <button type="button" onclick="this.parentElement.style.display='none'" class="message">✖</button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            <form id="config-detail-form" method="POST" action="{% url 'config_detail' %}">
                {% csrf_token %}
                <div class="row my-2">
                    <div class="col-2 text-end mt-2">
                        <label for="GEMINI_API_KEY" class="form-label mt-1">GEMINI_API_KEY</label>
                    </div>
                    <div class="col-9 mt-1">
                        <input type="text" class="form-control" id="GEMINI_API_KEY" name="GEMINI_API_KEY"
                            placeholder="GEMINI_API_KEY" value="{{ GEMINI_API_KEY }}">
                    </div>
                    <div class="col-1 pt-2">
                        <a href="https://aistudio.google.com/apikey" rel="noopener" target="_blank">
                            <img src="{% static 'images/link.png' %}" alt="Link" class="icon">
                        </a>
                    </div>
                    <div class="col-2 text-end mt-2">
                        <label for="OPENROUTER_API_KEY" class="form-label mt-1">OPENROUTER_API_KEY</label>
                    </div>
                    <div class="col-9 mt-1">
                        <input type="text" class="form-control" id="OPENROUTER_API_KEY" name="OPENROUTER_API_KEY"
                            placeholder="OPENROUTER_API_KEY" value="{{ OPENROUTER_API_KEY }}">
                    </div>
                    <div class="col-1 pt-2">
                        <a href="https://openrouter.ai/settings/keys" rel="noopener" target="_blank">
                            <img src="{% static 'images/link.png' %}" alt="Link" class="icon">
                        </a>
                    </div>
                    <div class="col-2 text-end mt-2">
                        <label for="OLLAMA_REQUEST_URL" class="form-label">OLLAMA_REQUEST_URL</label>
                    </div>
                    <div class="col-9 mt-1">
                        <input type="text" class="form-control" id="OLLAMA_REQUEST_URL" name="OLLAMA_REQUEST_URL"
                            placeholder="OLLAMA_REQUEST_URL" value="{{ OLLAMA_REQUEST_URL }}">
                    </div>
                    <div class="col-2 text-end mt-2">
                        <label for="SUMMARY_PROMPT" class="form-label">Summary Prompt</label>
                    </div>
                    <div class="col-9 mt-1">
                        <textarea type="text" class="form-control" id="SUMMARY_PROMPT" name="SUMMARY_PROMPT"
                            placeholder="Summary Prompt" oninput="autoResize(this)">{{ SUMMARY_PROMPT|safe }}</textarea>
                    </div>
                    <div class="col-2 text-end mt-2">
                        <label for="PRESENTATION_PROMPT" class="form-label">Presentation Prompt</label>
                    </div>
                    <div class="col-9 mt-1">
                        <textarea type="text" class="form-control" id="PRESENTATION_PROMPT" name="PRESENTATION_PROMPT"
                            placeholder="Presentation Prompt"
                            oninput="autoResize(this)">{{ PRESENTATION_PROMPT|safe }}</textarea>
                    </div>
                    <div class="col-2 text-end mt-2">
                        <label for="ADOBE_CLIENT_ID" class="form-label mt-1">ADOBE_CLIENT_ID</label>
                    </div>
                    <div class="col-9 mt-1">
                        <input type="text" class="form-control" id="ADOBE_CLIENT_ID" name="ADOBE_CLIENT_ID"
                            placeholder="ADOBE_CLIENT_ID" value="{{ ADOBE_CLIENT_ID }}">
                    </div>
                    <div class="col-1 pt-2">
                        <a href="https://acrobatservices.adobe.com/dc-integration-creation-app-cdn/main.html?api=pdf-embed-api"
                            rel="noopener" target="_blank">
                            <img src="{% static 'images/link.png' %}" alt="Link" class="icon">
                        </a>
                    </div>
                    <div class="col-12 mt-3 text-center">
                        <button id="config-save-button" {% if not user.is_authenticated %} disabled {% endif %}
                            type="submit" class="btn btn-primary mx-2">Save Config</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function autoResize(textarea) {
        textarea.style.height = "auto";
        textarea.style.height = (textarea.scrollHeight + 5) + "px";
    }

    document.addEventListener("keydown", function (event) {
        if (event.ctrlKey && event.key === "s") {
            event.preventDefault();
            const form = document.getElementById("config-detail-form");
            form.submit();
        }
    });

    window.onload = function () {
        autoResize(document.getElementById("SUMMARY_PROMPT"));
        autoResize(document.getElementById("PRESENTATION_PROMPT"));
    };
</script>
{% endblock %}