{% extends "base.html" %}
{% load humanize %}
{% block content %}
<style>
  .card {
    width: 18rem;
  }
</style>
<div id="topic-list">
  <h1 class="m-3 text-center">Topic List</h1>
  <div class="d-flex justify-content-center">
    <!-- Search Bar -->
    <div class="col-2 text-center mx-3">
      <div class="input-group">
        <input type="text" id="topic-list-search" class="form-control" placeholder="Search for topics..."
          onkeyup="onfilterTopics()" />
        <button class="clear-btn input-group-text" id="topic-list-clear-button">&times;</button>
      </div>
    </div>
    <!-- View Mode -->
    <div class="btn-group mx-3" role="group">
      <input type="radio" class="btn-check" name="topic-list-view-mode" id="topic-list-list-view" autocomplete="off"
        checked>
      <label class="btn btn-outline-secondary" for="topic-list-list-view">List View</label>
      <input type="radio" class="btn-check" name="topic-list-view-mode" id="topic-list-tile-view" autocomplete="off">
      <label class="btn btn-outline-secondary" for="topic-list-tile-view">Tile View</label>
    </div>
    <!-- Create Topic Button -->  
    <form action="{% url 'topic_create' %}" method="get" class="mx-3">
      <button {% if not user.is_authenticated %}disabled{% endif %} type="submit" class="btn btn-primary">Create new
        topic</button>
    </form>
  </div>
  <!-- Topic List -->
  <div id="topic-list-list-view-panel" class="row my-3 justify-content-center">
    <div class="col-8 text-center mb-3 border p-0">
      <table id="topic-list-table" class="table table-hover m-0" width="100%">
        <thead>
          <tr>
            <th>Title</th>
            <th>Keywords</th>
            <th>Papers</th>
            <th>Citations</th>
            <th>Tags</th>
            <th>Stars</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for topic in topics %}
          <tr data-topic="{{ topic.title }}" data-keywords="{{ topic.keywords }}">
            <td class="text-start"><a href="{% url 'topic_detail' topic.id %}">{{ topic.title }}</a></td>
            <td class="text-start">{{ topic.keywords }}</td>
            <td class="text-end">
              <a href="{% url 'topic_detail' topic.id %}">{{ topic.paper_count|intcomma }}
                <span title="Number of papers" class="badge bg-warning">P</span></a>
            </td>
            <td class="text-end">
              <a href="{% url 'topic_detail_mode' topic.id 'cited' %}">{{ topic.citation_count|intcomma }}
                <span title="Number of papers cited" class="badge bg-info opacity-75">C</span></a>
            </td>
            <td class="text-end">
              <a href="{% url 'topic_detail_mode' topic.id 'tagged' %}">{{ topic.tags_count|intcomma }}
                <span title="Number of papers tagged" class="badge bg-success opacity-75">T</span></a>
            </td>
            <td class="text-end">
              <a href="{% url 'topic_detail_mode' topic.id 'starred' %}">{{ topic.star_count|intcomma }}
                <span title="Number of papers starred" class="badge bg-primary opacity-75">S</span></a>
            </td>
            <td class="text-end">
              <a href="{% url 'topic_detail_mode' topic.id 'noted' %}">{{ topic.note_count|intcomma }}
                <span title="Number of papers noted" class="badge bg-danger opacity-75">N</span></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div id="topic-list-tile-view-panel" class="flex-wrap gap-3 justify-content-center my-3">
    {% for topic in topics %}
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title text-center">
          <a href="{% url 'topic_detail' topic.id %}">{{ topic.title }}</a>
        </h5>
        <p class="card-subtitle text-center text-nowrap overflow-hidden text-truncate mb-2">
          {{ topic.keywords }}</p>
        <p class="card-subtitle text-center text-muted mt-auto">
          <a href="{% url 'topic_detail' topic.id %}">
            <span title="Number of papers" class="badge bg-warning">
              P{{ topic.paper_count|intcomma }}</span></a>
          <a href="{% url 'topic_detail_mode' topic.id 'cited' %}">
            <span title="Number of papers cited" class="badge bg-info opacity-75">
              C{{ topic.citation_count|intcomma }}</span></a>
          <a href="{% url 'topic_detail_mode' topic.id 'tagged' %}">
            <span title="Number of papers tagged" class="badge bg-success opacity-75">
              T{{ topic.tags_count|intcomma }}</span></a>
          <a href="{% url 'topic_detail_mode' topic.id 'starred' %}">
            <span title="Number of papers starred" class="badge bg-primary opacity-75">
              S{{ topic.star_count|intcomma }}</span></a>
          <a href="{% url 'topic_detail_mode' topic.id 'noted' %}">
            <span title="Number of papers noted" class="badge bg-danger opacity-75">
              N{{ topic.note_count|intcomma }}</span></a>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  // 주제 리스트 초기화
  document.getElementById("topic-list-clear-button").addEventListener("click", function () {
    const input = document.getElementById("topic-list-search");
    input.value = "";
    onfilterTopics();
    input.focus();
  });

  // 주제 필터 입력 처리 이벤트.
  function onfilterTopics() {
    const input = document.getElementById("topic-list-search");
    const filter = input.value.toLowerCase();
    const cards = document.querySelectorAll("#topic-list div.card");

    cards.forEach(card => {
      const title = card.querySelector(".card-title a").textContent.toLowerCase();
      const keywords = card.querySelector(".card-subtitle").textContent.toLowerCase();
      if (title.includes(filter) || keywords.includes(filter)) {
        card.style.display = "block";
      } else {
        card.style.display = "none";
      }
    });

    const rows = document.querySelectorAll("#topic-list-table tr[data-topic]");
    rows.forEach(row => {
      const title = row.dataset.topic.toLowerCase();
      const keywords = row.dataset.keywords.toLowerCase();
      if (title.includes(filter) || keywords.includes(filter)) {
        row.style.display = "table-row";
      } else {
        row.style.display = "none";
      }
    });
  }

  // 주제 목록 테이블 행 클릭 이벤트
  document.querySelectorAll("#topic-list-table tbody tr").forEach(row => {
    row.addEventListener("click", function () {
      if (this.classList.contains("highlight")) {
        this.classList.remove("highlight");
      } else {
        this.classList.add("highlight");
      }
    });
  });

  // 주제 뷰어 선택 이벤트
  document.querySelectorAll('input[name="topic-list-view-mode"]').forEach(radio => {
    radio.addEventListener('change', function () {
      switchTopicListViewMode(this.id === 'topic-list-list-view' ? 'list' : 'tile');
    });
  });

  function switchTopicListViewMode(mode) {
    console.log("Switching to " + mode + " view mode");

    const listViewPanel = document.getElementById("topic-list-list-view-panel");
    const tileViewPanel = document.getElementById("topic-list-tile-view-panel");

    if (mode === 'list') {
      listViewPanel.style.display = "flex";
      tileViewPanel.style.display = "none";
    } else {
      listViewPanel.style.display = "none";
      tileViewPanel.style.display = "flex";
    }
  }
</script>
{% endblock %}