{% extends "base.html" %}
{% load static %}
{% block content %}
<script>
  function setFormAction(actionUrl) {
    var form = document.getElementById('topic-form');
    var title = document.getElementById('title').value;
    var keywords = document.getElementById('keywords').value;

    if (title.trim() === "" || keywords.trim() === "") {
      alert("Title and Keywords are required!");
      return;
    }

    form.action = actionUrl;
    form.submit();
  }

  async function onAllCitation(topic_id) {
    const url = "{% url 'topic_citations' 9999 %}".replace('9999', String(topic_id));
    const csrf_token = "{{ csrf_token }}";

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrf_token
      }
    })
      .catch(error => reportError(error));

    alert("Starting background tasks!");
  }

</script>
<div class="justify-content-center">
  <div class="container">
    {% if user.is_authenticated %}
    {% if messages %}
    <div class="row">
      {% for message in messages %}
      <div class="message">
        {{ message }}
        <button type="button" onclick="this.parentElement.style.display='none'" class="message">✖</button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}
    <div class="row">
      <form id="topic-form" method="POST">
        {% csrf_token %}
        <div class="container my-2">
          <div class="row my-2">
            <div class="col-1 text-end">
              <label for="title" class="form-label fw-bold mt-1">Title</label>
            </div>
            <div class="col-4">
              <input type="text" class="form-control" id="title" name="title" placeholder="Title" required
                value="{{ topic.title }}">
            </div>
            <div class="col-1 text-end">
              <label for="keywords" class="form-label fw-bold mt-1">Keywords</label>
            </div>
            <div class="col-4">
              <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Keywords"
                value="{{ topic.keywords }}" required>
            </div>
            <div class="col-2 d-print-none">
              <button {% if not user.is_authenticated %} disabled {% endif %} type="button" class="btn btn-primary mx-2"
                onclick="setFormAction('{% url 'topic_update' topic.id %}')">Update Topic</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row d-print-none">
      <div class="d-flex w-auto mx-auto mb-3 toolbar toolbar-border px-3 py-2 shadow-sm bg-light">
        <label for="max_results" class="form-label mt-2 mx-2"># of papers:</label>
        <select id="max_results" name="max_results">
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="300">300</option>
          <option value="500">500</option>
          <option value="1000">1,000</option>
          <option value="2000">2,000</option>
        </select>
        <button {% if not user.is_authenticated %} disabled {% endif %} type="button" class="btn btn-success mx-2 py-0"
          onclick="onCollectArxiv()">Collect Arxiv</button>
        <div class="vr mx-3"></div>
        <label class="form-label mt-2 mx-2">Tags:</label>
        <button type="button" class="transparent" onclick="onTagFilter('papers', '🗙')">🗙</button>
        <button type="button" class="transparent" onclick="onTagFilter('papers', '📌')">📌</button>
        <button type="button" class="transparent" onclick="onTagFilter('papers', '🔎')">🔎</button>
        <button type="button" class="transparent" onclick="onTagFilter('papers', '📖')">📖</button>
        <button type="button" class="transparent" onclick="onTagFilter('papers', '👍')">👍</button>
        <button type="button" class="transparent" onclick="onTagFilter('papers', '⭐')">⭐</button>
        <button type="button" class="transparent" onclick="onTagFilter('papers', '✅')">✅</button>
        <div class="vr mx-3"></div>
        <label class="form-label mt-2 mx-2">Citations:</label>
        <button {% if not user.is_authenticated %} disabled {% endif %} class="btn btn-secondary mx-2 py-0"
          onclick='onAllCitation({{ topic.id }})'>All &#8634;</button>
      </div>
    </div>
  </div>
  <div class="container-fluid px-3 mx-auto">
    <table id="papers" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th id="th-tag" class="text-center  d-print-none" width="11%">Tags</th>
          <th id="th-author" class="text-center" width="18%">Author</th>
          <th id="th-title" class="text-center" width="38%">Title</th>
          <th id="th-publisher" class="text-center" width="10%">Publisher</th>
          <th id="th-date" class="text-center" width="7%">Date</th>
          <th id="th-citations" class="text-center" width="7%">Citations</th>
          <th id="th-links" class="text-center d-print-none" width="9%">Links</th>
        </tr>
      </thead>
      <tbody>
        {% for paper in papers %}
        <tr data-paper-id="{{ paper.id }}">
          <td id="tags" width="50px" class="text-center d-print-none">
            <span id="tags-{{ paper.id }}"></span>
            <script>
              renderTags({{ paper.id }}, '{{ paper.tags|escapejs }}');
            </script>
          </td>
          <td id="author">{{ paper.author }}</td>
          <td id="title"><a href="{% url 'paper_detail' paper.id %}">{{ paper.title }}</a></td>
          <td id="publisher" class=" text-center"><a href="{{ paper.url }}">{{ paper.publisher }}</a></td>
          <td id="publish_date" class="text-center">{{ paper.publish_date|date:"Y.m.d"|default:"-" }}</td>
          <td id="citations" class="text-end">
            <span id="citations-{{ paper.id }}" class="px-2">{{ paper.citations|default_if_none:"-" }}</span>
            {% if user.is_authenticated %}
            <button class="mx-2 circle d-print-none" onclick='onCitation({{ paper.id }})'>&#8634;</button>
            {% endif %}
          </td>
          <td id="links" class="text-center d-print-none">
            <a href="{% url 'paper_pdf' paper.id %}" title="PDF" target="_blank">
              <img src="{% static 'images/pdf.png' %}" class="icon" alt="PDF"></a>
            <a href="{% url 'paper_editor' paper.id %}" title="Note Editor" target="_blank">
              <img src="{% static 'images/editor.png' %}" class="icon" alt="Note Editor"></a>
            <a href="{% url 'paper_note' paper.id %}" title="Note" target="_blank">
              <img src="{% static 'images/note.png' %}" class="icon {% if not paper.note %}inactive{% endif %}" alt="Note"></a>
            <a href="{% url 'paper_presentation' paper.id %}" title="Presentation" target="_blank">
              <img src="{% static 'images/presentation.png' %}" class="icon {% if not paper.note %}inactive{% elif '---' not in paper.note %}inactive{% endif %}" alt="Presentation"></a>
            <a href="https://scholar.google.com/scholar?q={{paper.title|safe}},+{{paper.author|safe}}"
              title="Google scholar" target="_blank" rel="noopener">
              <img src="{% static 'images/google_scholar.png' %}" alt="Google Scholar" class="icon">
            </a>
            <a href="https://www.semanticscholar.org/search?q={{paper.title|safe}},+{{paper.author|safe}}"
              title="Semantic Scholar" target="_blank" rel="noopener">
              <img src="{% static 'images/semantic_scholar.png' %}" alt="Semantic Scholar" class="icon">
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      {% if user.is_authenticated %}
      <a href="{% url 'paper_create' %}" class="btn btn-primary mx-2">Add Paper</a>
      {% else %}
      <button disabled type="submit" class="btn btn-primary mx-2">Add Paper</button>
      {% endif %}
    </div>
  </div>
</div>
<script>
  async function onCollectArxiv() {
    const topic_id = "{{ topic.id }}";
    const keywords = document.getElementById('keywords').value;
    const max_results = document.getElementById('max_results').value

    fetch("{% url 'collect_arxiv' %}", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': "{{ csrf_token }}"
      },
      body: JSON.stringify({
        topic_id: topic_id,
        keywords: keywords,
        max_results: max_results,
      })

    }).catch(error => reportError(error));

    alert(`Starting background task!`);
  }

  function onToggleTag(paper_id, tag) {
    {% if user.is_authenticated %}
    const post_url = "{% url 'paper_tag' %}";
    const csrf_token = "{{ csrf_token }}";

    toggleTag(paper_id, tag, post_url, csrf_token);
    {% endif %}
  }

  async function onCitation(paper_id) {
    const url = "{% url 'paper_citations' 9999 %}".replace('9999', String(paper_id));
    const csrf_token = "{{ csrf_token }}";

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrf_token
      }
    }).then(response => response.json())
      .then(data => {
        document.getElementById(`citations-${paper_id}`).innerHTML = data.citations;
      })
      .catch(error => reportError(error));
  }

  $(document).ready(function () {
    $('#papers').DataTable({
      "paging": false,
      "order": []
    });
  });
</script>
{% endblock %}