{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
  <div class="col-12">
    <form id="topic-form" method="POST">
      {% csrf_token %}
      <div class="container-xxl my-2">
        <div class="row my-2">
          <div class="col-1">
            <label for="title" class="form-label mt-1">Title</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required
              value="{{ topic.title }}">
          </div>
          <div class="col-1">
            <label for="keywords" class="form-label mt-1 text-right">Keywords</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Keywords"
              value="{{ topic.keywords }}" required>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-primary mx-2"
              onclick="setFormAction('{% url 'topic_update' topic.id %}')">Update</button>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-danger mx-2"
              onclick="setFormAction('{% url 'topic_delete' topic.id %}')">Delete</button>
          </div>
        </div>
      </div>
    </form>
    <div class="container-xxl my-3 mx-auto text-center">
      <button type="button" class="btn btn-success mx-2" onclick="onCollectArxiv()">Collect Arxiv</button>
      <!-- <button type="button" class="btn btn-success mx-2" onclick="onCollectScholar()">Collect Google Scholar</button> -->
      <!-- <button type="button" class="btn btn-info mx-2" onclick="add()">Add</button> -->
    </div>

    <div class="px-3 mx-auto">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center">Tags</th>
            <th class="text-center" width="20%">Author</th>
            <th class="text-center" width="50%">Title</th>
            <th class="text-center" width="10%">Publisher</th>
            <th class="text-center">Date</th>
            <th class="text-center">Citations</th>
          </tr>
        </thead>
        <tbody>
          {% for paper in papers %}
          <tr>
            <td>
              <div class="smaller text-center" id="tag-{{ paper.id }}"></div>
              <script>
                renderTags({{ paper.id }}, '{{ paper.tags|escapejs  }}')
              </script>
            </td>
            <td>{{ paper.author }}</td>
            <td>{{ paper.title }}</td>
            <td class="text-center">{{ paper.publisher }}</td>
            <td class="text-center">{{ paper.publish_date|date:"Y.m.d"|default:"N/A" }}</td>
            <td class="text-end">{{ paper.citations }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <ol>
    </ol>
  </div>
</div>
<script>
  function setFormAction(actionUrl) {
    var form = document.getElementById('topic-form');
    var title = document.getElementById('title').value;
    var keywords = document.getElementById('keywords').value;

    if (title.trim() === "" || keywords.trim() === "") {
      alert("Title and Keywords are required!");
      return;
    }

    form.action = actionUrl;
    form.submit();
  }

  function onCollectArxiv() {
    const topic_id = "{{ topic.id }}";
    const keywords = document.getElementById('keywords').value;
    const post_url = "{% url 'paper_add' %}";
    const csrf_token = "{{ csrf_token }}";

    collectArxiv(topic_id, keywords, 30, post_url, csrf_token);
  }

  function onCollectScholar() {
    const topic_id = "{{ topic.id }}";
    const keywords = document.getElementById('keywords').value;
    const post_url = "{% url 'paper_add' %}";
    const csrf_token = "{{ csrf_token }}";

    collectArxiv(topic_id, keywords, 30, post_url, csrf_token)
  }

  function onToggleTag(paper_id, tag) {
    console.log('here');
    console.log(`{paper_id}, {tag}`);

    const post_url = "{% url 'paper_tag' %}";
    const csrf_token = "{{ csrf_token }}";
  
    toggleTag(paper_id, tag, post_url, csrf_token);
  }
</script>
{% endblock %}